#wrap {
    width: 100%;
    #main {
        z-index: 1;
        width: 100%;
        #section1 {
            width: 100%;
            max-width: 1497px;
            margin: 0 auto;
            background: url(../img/brio-300-h390-hpb-white-desktop.jpg) no-repeat 50% 50%;
            background-size: cover;
            .container {
                width: 100%;
                align-items: center;
                justify-content: center;
                .gap {
                    padding: 0 40px;
                    margin: 0 108.500px;
                    .title-bottom {
                        z-index: 2;
                        width: 100%;
                        height: 90px;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: space-between;
                        transition: all 0.2s ease-in-out;
                        .left {
                            img {
                            width: 118px;
                            cursor: pointer;
                            }
                        }
                        .center {
                            ul {
                                display: flex;
                                li {
                                    a {
                                        width: 100%;
                                        padding: 9px 20px;
                                        font-size: 15px;
                                        font-weight: 800;
                                        color: #2f3132;
                                        border-radius: 18px;
                                        &:hover {
                                            background: #fff;
                                            transition: all 0.2s;
                                            }
                                    }
                                }
                            }
                        }
                        .right {
                            ul {
                                display: flex;
                                li {
                                    width: 50px;
                                    a {
                                    text-align: center;
                                    }
                                    i {
                                        width: 50px;
                                    }
                                }
                            }
                        }
                        &.on {
                            z-index: 4;
                            position: fixed;
                            background: #fff;
                            width: 100%;
                            max-width: 1497px;
                            margin: 0 auto;
                            top: 0;
                            left: 0;
                            padding: 0 148.500px;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        }
                    
                    }
                    .text-box {
                        padding: 70px 0 0 0;
                        vertical-align: middle;
                        h1 {
                            font-size: 70px;
                            font-weight: 300;
                            color: #fff;
                        }
                        h2 {
                            margin-top: 30px;
                            font-size: 30px;
                            font-weight: 300;
                            line-height: 27.5px;
                        }
                    }
                    .btn-box {
                        padding: 80px 0 100px 0;
                        margin-left: -12px;
                        ul {
                            display: flex;
                            button {
                                background: #2f3132;
                                margin: 0 0 12px 12px;
                                padding: 18px 36px;
                                cursor: pointer;

                                span {
                                    width: 122.227px;
                                    font-size: 14px;
                                    font-weight: 700;
                                    line-height: 18px;
                                    color: #fff;
                                }              
                                &:hover {
                                    background: 0;
                                    color: #2f3132;
                                    border: 1px solid#2f3132;
                                    transition: all 0.15s;
                                }   
                            }
                        }
                    }
                }
            }

        }
        #section2 {
            width: 100%;
            max-width: 1497px;
            margin: 0 auto;
            .container {
                margin: 80px 108.500px 0 108.500px;
                padding: 0 40px;
                .gap{
                    .content {
                        >div {
                        display: flex;
                            ul {
                                margin: 0 20px 30px 0;
                                li {
                                    img {
                                        margin-bottom: 20px;
                                        cursor: pointer;
                                    }
                                    h2 {
                                        margin-bottom: 10px;
                                        font-size: 20px;
                                        font-weight: 700;
                                        color: #000;
                                        line-height: 21.3334px;
                                        cursor: pointer;
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                    p {
                                    margin-bottom: 16px;
                                    color: #000;
                                    font-size: 16px;
                                    font-weight: 300;
                                    line-height: 22px;
                                    }
                                    span {
                                    color: #2f3132;
                                    font-size: 14px;
                                    font-weight: 700;
                                    line-height: 18px;
                                    cursor: pointer;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #section3 {
            width: 100%;
            max-width: 1497px;
            margin: 0 auto;
            position: relative;
            .container {
                width: 100%;
                padding: 80px 0;
                position: relative;
                .slide-container {  //메인 슬라이드
                    z-index: 1;
                    position: relative;
                    width: 100%;
                    .slide-view {
                        width: 100%;
                        overflow: hidden;
                        .slide-wrap {
                            position: relative;
                            width: 100% * 3.3333;
                            display: flex;
                            .slide {
                                width: 100%;
                                &.slide1 {
                                    margin: 0 101px;
                                    display: block;
                                    >.gap {
                                        position: relative;
                                        width: 1200px;
                                        height: 675px;
                                        padding: 0 40px;
                                        margin: 0;
                                        .img-box1 {
                                            background-image: url("../img/desktop_grey-mice-and-keyboards (1).jpeg");
                                            background-size: cover;
                                            position: relative;
                                            width: 793.328px; 
                                            height: 443.328px;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            p {
                                                font-size: 16px;
                                                font-weight: 700;
                                                list-style: none;
                                                padding: 0 20px;
                                                color: #2f3132;
                                                position: absolute;
                                                bottom: 20%;
                                                left: 40%;
                                            }
                                        }
                                        .img-box2 {
                                            position: relative;
                                            background-image: url("../img/desktop_grey-headsets.jpeg");
                                            width: 386.672px;
                                            height: 675px;
                                            background-size: cover;
                                            position: absolute;
                                            right: 0;
                                            overflow: hidden;
                                            p {
                                                font-size: 16px;
                                                font-weight: 700;
                                                list-style: none;
                                                padding: 0 20px;
                                                color: #2f3132;
                                                position: absolute;
                                                bottom: 10%;
                                                right: 20%;
                                            }
                                        }
                                        .img-box3 {
                                            width: 366.66px * 2 ;
                                            height: 211.637px;
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            display: flex;
                                            img {
                                            
                                            }
                                            p {
                                                font-size: 16px;
                                                font-weight: 700;
                                                list-style: none;
                                                padding: 0 20px;
                                                color: #2f3132;
                                                position: absolute;
                                                left: 20%;
                                                bottom: 40%;
                                            }
                                            h5 {
                                                font-size: 16px;
                                                font-weight: 700;
                                                list-style: none;
                                                padding: 0 20px;
                                                color: #2f3132;
                                                position: absolute;
                                                right: 13%;
                                                top: 23%;
                                            }
                                        }
                                    }
                                }
                                &.slide2 {
                                    width: 100%;
                                    .gap {
                                        position: relative;
                                        width: 1200px;
                                        height: 675px;
                                        display: flex;
                                        .img-box4 {
                                            display: flex;
                                            >img {
                                                width: 386.656px;
                                                height: 675px;
                                                position: relative;
                                            }
                                            p {
                                                font-size: 16px;
                                                font-weight: 700;
                                                list-style: none;
                                                padding: 0 20px;
                                                color: #2f3132;
                                                position: absolute;
                                                bottom: 10%;
                                                left: 12%;
                                            }
                                            h3 {
                                                font-size: 16px;
                                                font-weight: 700;
                                                list-style: none;
                                                padding: 0 20px;
                                                color: #2f3132;
                                                position: absolute;
                                                top: 10%;
                                                right: 44%;
                                            }

                                        }
                                        .img-box5 {
                                            width: 386.656px;
                                            height: 675px;
                                            display: block;
                                            justify-content: space-around;
                                            img {
                                                width: 386.672px;
                                                height: 211.656px;
                                            }
                                            // .top-img {
                                            //     width: 30%;
                                            //     background-image: url("../img/desktop-speakers-z407-gray.jpeg") ;
                                            //     background-size: cover;
                                            // }
                                            
                                            // .bottom-img {
                                            //     background-image: url("../img/desktop_grey-video-conferencing (1).jpeg");
                                            //     background-size: cover;
                                            // }
                                        

                                        }
                                    }
                                }
                                &.slide3 {
                                    width: 100%;
                                    .gap {
                                        width: 1200px;
                                        height: 675px;
                                        display: flex;
                                        .img-box6 {
                                            width: 386.656px;
                                            margin-right: 20px;
                                            img {
                                                height: 211.656px;
                                                &:nth-child(2) {
                                                    height: 443.344px;
                                                    margin: 20px 0;
                                                }
                                            }
                                        }
                                        .img-box7 {
                                            width: 100%;
                                            position: relative;
                                            img {

                                                &:nth-child(1) {
                                                    width: 793.344px;
                                                    height: 443.328px;
                                                    position: absolute;
                                                    top: 0;
                                                }
                                                &:nth-child(2) {
                                                    width: 386.672px;
                                                    height: 211.672px;
                                                    position: absolute;
                                                    bottom: 0;
                                                    left: 0;
                                                }
                                                &:nth-child(3) {
                                                    width: 386.672px;
                                                    height: 211.672px;
                                                    position: absolute;
                                                    bottom: 0;
                                                    right: 0;
                                                }
                                            }

                                        }
                                        // .img-box8 {
                                        //     width: 386.672px * 2;
                                        //     height: 211.672px;
                                        //     margin-top: 20px;
                                        //     display: flex;
                                        //     img {

                                        //     }
                                        // }
                                    }
                                }
                                
                            }
                        }                    
                    }


                }
            }
            // 좌우화살버튼
            .next-btn {
                z-index: 2;
                position: absolute;
                top: 50%;
                right: 0;
                width: 108px;
                height: 108px;
                i {}
      
                
            }
            .prev-btn {
                z-index: 2;
                position: absolute;
                top: 50%;
                left: 0;
                i {}
            }
            
        }
        #section4 {
            width: 100%;
            .container {
                width: 100%;
                .slide-container {
                    width: 100%;
                    .slide-view {
                        width: 100%;
                        // overflow: hidden;
                        .slide-wrap {
                            width: 100%*7;
                            display: flex;
                            // margin: 0 0 0 -100%;
                            .slide {
                                z-index: 2;
                                width: 100%;
                                position: relative;
                                img {
                                    width: 100%;
                                }
                                .text-box {
                                    z-index: 2;
                                    position: absolute;
                                    top: 25%;
                                    left: 31%;
                                    text-align: center;
                                    h1 {
                                    font-size: 60px;
                                    font-weight: 700;
                                    line-height: 60px;
                                    color: #fff;
                                    margin-bottom: 27px;
                                    }
                                    h3 {
                                        font-size: 16px;
                                        font-weight: 700;
                                        line-height: 22px;
                                        color: #fff;
                                        margin-bottom: 30px;
                                    }
                                    button {
                                        padding: 18px 36px;
                                        background: #fff;
                                        color: #2f3132;
                                        font-size: 14px;
                                        font-weight: 700;
                                        letter-spacing: 0.28px;
                                        border-style: none;
                                        cursor: pointer;
                                        transition: all 0.15s;
                                        &:hover {
                                            background: none;
                                            border: 2px solid #fff;
                                            color: #fff;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
                    &.rap2 {
                        background: url(../img/future-positive-challenge-desktop.jpg) no-repeat 50% 50%;
                        p {
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 33px;
                            color: #fff;
                            margin-bottom: 30px;
                        }
                    }
                    &.rap3 {
                        background: url(../img/climate-positive-desk.jpeg) no-repeat 50% 50%;
                        p {
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 22px;
                            margin-bottom: 23px;
                            color: #fff;
                        }
                    }
                    &.rap4 {
                        background: url(../img/carbon-methodology-desktop.png) no-repeat 50% 50%;
                        p {
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 22px;
                            margin-bottom: 23px;
                            color: #fff;
                        }
                    }
                    &.rap5 {
                        background: url(../img/bg-logicares-desktop.jpg) no-repeat 50% 50%;
                        p {
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 22px;
                            margin-bottom: 23px;
                            color: #fff;
                        }
                    }
                    &.rap6 {
                        background: url(../img/bg-design-desktop.jpg) no-repeat 50% 50%;
                    }
                    &.rap7 {
                        background: url(../img/bg-about-desktop.jpg) no-repeat 50% 50%;
                    }
                
            
        
        // #section4 {
        //     width: 100%;
        //     height: 686.500px;
        //     max-width: 1497px;
        //     margin: 0 auto;
        //     background: url(../img/pcr-plastic-desktop.jpeg) no-repeat 50% 50%; 
        //     background-size: cover;
        //     .container {
        //         margin: 0 108.500px;
        //         padding: 0 40px;
        //         .gap {
        //             width: 100%;
        //             padding: 100px 0;
        //             text-align: center;
        //             align-items: center;
        //             justify-content: center;
        //             .content {
        //                 width: 100%;
        //                 ul {
        //                     li {
        //                         img {}
        //                         h1 {
        //                             font-size: 60px;
        //                             font-weight: 700;
        //                             line-height: 60px;
        //                             color: #fff;
        //                             margin-bottom: 10px;
        //                         }
        //                         h3 {
        //                             font-size: 16px;
        //                             font-weight: 700;
        //                             line-height: 22px;
        //                             color: #fff;
        //                             margin-bottom: 20px;
        //                         }
        //                         button {
        //                             padding: 18px 36px;
        //                             background: #fff;
        //                             color: #2f3132;
        //                             font-size: 14px;
        //                             font-weight: 700;
        //                             letter-spacing: 0.28px;
        //                             border-style: none;
        //                             cursor: pointer;
        //                             transition: all 0.15s;
        //                             &:hover {
        //                                 background: none;
        //                                 border: 2px solid #fff;
        //                                 color: #fff;
        //                             }
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}